header.header.js-header
    .header__inner 
        a(href="#main").header__logo.js-scroll-link
            img(src="img/svg/logo.svg", alt="" loading="lazy" width="112" height="14").header__logo-pic

        .header__controls.js-header-menu
            nav.header__nav 
                ul.header__nav-ul
                    li.header__nav-li
                        a(href="#tech").header__link.js-scroll-link Технологии
                    li.header__nav-li
                        a(href="#test-1").header__link.js-scroll-link Наши принципы
                    li.header__nav-li
                        a(href="#test-2").header__link.js-scroll-link Интеграция
                    li.header__nav-li
                        a(href="#test-3").header__link.js-scroll-link Управление и интересы
                    li.header__nav-li
                        a(href="#test-4").header__link.js-scroll-link События
            .header__btn
                button.btn._white._small Обсудить проект

        .header__burger.js-menu-burger
            .header__burger-bar
            .header__burger-bar
            .header__burger-bar