.pages.js-pages
    a(href="#main").pages__item._active.js-scroll-link 01
    a(href="#tech").pages__item.js-scroll-link 02
    a(href="#test-1").pages__item.js-scroll-link 03
    a(href="#test-2").pages__item.js-scroll-link 04
    a(href="#test-3").pages__item.js-scroll-link 05
    a(href="#test-4").pages__item.js-scroll-link 06