extends layouts/default
include helpers/mixins

block variables
	- const title = "gulp-pug-starter"

block content
	include ../blocks/modules/header/header

	main
		include ../blocks/modules/welcome/welcome
		include ../blocks/modules/technology/technology

		section.section#test-1()
			.container
				h2.section__title Test section 1
		section.section#test-2()
			.container
				h2.section__title Test section 2
		section.section#test-3()
			.container
				h2.section__title Test section 3
		section.section#test-4()
			.container
				h2.section__title Test section 4

		include ../blocks/modules/pages/pages

block scripts
	script(src="js/vendor.js")
	script(src="js/main.js")