.welcome {
    position: relative;
    
    @media (min-width: 768px) {
        min-height: 100vh;
        min-height: 100dvh;
        display: flex;
        align-items: center;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__video {
        position: absolute;
        object-fit: cover;
        width:100%;
        height:100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        filter: brightness(0.5);
    }

    &__inner {
        position: relative;
        z-index: 3;
        padding: 115px 25px 86px;
        width: 100%;

        @media (min-width: 768px) {
            padding: 85px 25px;
        }

        @media (min-width: 1024px) {
            padding: 100px 100px 100px 80px;
        }
    }

    &__content {
        @media (min-width: 1024px) {
            // padding-left: 17px;
        }
    }

    &__aside-note {
        display: none;

        @media (min-width: 1024px) {
            display: block;
            position: absolute;
            left: 22px;
    
            position: absolute;
            top: 50%;
            transform: translate(0, -50%) rotate(180deg);
            transform-origin: center center;
            writing-mode: vertical-rl;
            text-orientation: sideways;
            white-space: nowrap;
    
            color: rgba(255, 255, 255, 0.34);
            font-family: 'Museo Sans Cyrillic';
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 8.4px;
            text-transform: uppercase;
        }
    }

    &__note {
        color: #FFF;
        font-family: 'Museo Sans Cyrillic';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.24px;
        margin-bottom: 26px;

        @media (min-width: 768px) {
            font-size: 20px;
        }

        @media (min-width: 1024px) {
            letter-spacing: 0.48px;
            font-size: 24px;
        }
    }

    &__title {
        color: #FFF;
        font-family: 'Museo Sans Cyrillic';
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.32px;
        margin-bottom: 26px;
        line-height: 1.32;

        @media (min-width: 768px) {
            font-size: 30px;
        }

        @media (min-width: 1024px) {
            font-size: 50px;
            letter-spacing: 2px;
            margin-bottom: 38px;
        }
    }

    &__text {
        color: #FFF;
        font-family: 'Museo Sans Cyrillic';
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.12px;
        margin-bottom: 36px;
        line-height: 1.45;

        @media (min-width: 768px) {
            line-height: 1.3;
            font-size: 16px;
        }

        @media (min-width: 1024px)  {
            font-size: 20px;
            line-height: 1.7;
            letter-spacing: 0.6px;
            margin-bottom: 50px;
            max-width: 817px;
        }
    }
}