h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Museo Sans Cyrillic';
    font-weight: 300;
    overflow-x: hidden;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    width: 100%;
    align-self: flex-start;
}

.section {
    padding: 52px 20px;

    @media (min-width: 1024px) {
        padding: 100px 0;
    }

    @media (min-width: 1280px) {
        min-height: 100dvh;
        display: flex;
        align-items: center;
    }

    &__title {
        color: #202020;
        font-family: 'Museo Sans Cyrillic';
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 0.64px;
        margin-bottom: 32px;
        line-height: 1.1;

        @media (min-width: 1024px) {
            margin-bottom: 68px;
            text-align: center;
            font-size: 50px;
            letter-spacing: 1.5px;
        }
    }
}